<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/pdf.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Caveat:wght@400..700&family=Faculty+Glyphic&display=swap" rel="stylesheet">

    <title>Upload PDF</title>
</head>
<body>

    <header>
        <img src="{{ url_for('static', filename='images/icon.png') }}" alt="website icon" class="icon">
        <h1>EDUCOMICS</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="{{ url_for('about_us') }}">About Us</a></li>
            <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
        </ul>
    </nav>
    

    <form action="{{ url_for('pdf_upload') }}" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}  <!-- CSRF Token -->
        <label for="file">{{ form.file.label }}</label>
        {{ form.file }}
        {{ form.submit }}
    </form>
    <footer>
        <h3 id="contact-us">Information</h3>
        <p>Email: contact@educomics.com</p>
        <p>Phone: 514-647-2673</p>
        
    </footer>
</body>
</html>
